<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>辞書</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>辞書: 一覧</h1>

    <table>
        <tr>
            <th>英語</th>
            <th>日本語</th>
        </tr>
        <tr th:each="english:${dictionary.keySet()}">
            <td th:text="${english}">english</td>
            <td th:text="${dictionary.get(english)}">japanese</td>
        </tr>
    </table>

    <hr/>
    <nav th:include="lect05/common::menu"></nav>
</body>
</html>